.parent {
  height: 900px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* column-gap: 10px;
  row-gap: 10px; */
  gap: 20px;
  flex-direction: column;
}
.box {
  width: 150px;
  height: 150px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
